<!-- Meteorite Escape -->
<div class="portfolio-modal modal fade" id="portfolioModalMeteoriteEscape" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Meteorite Escape</h2>
                            <p class="item-intro text-muted">A game for mobile</p>
                            <iframe width="420" height="315"  src="https://www.youtube.com/embed/g2NGVUYwcYw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p>A project made using Java and the Android Framework. I also used the library libgdx. The goal is to move your character and avoid the falling
                            meteorite. The more your avoid the faster they will so be careful !</p>
                            <ul class="list-inline">
                                <li>Date: January 2016</li>
                                <li>Category: Java</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>